.box {
  /* border: 1px solid; */
  width: 99%;
  margin: auto;
  height: 280px;
  box-shadow: 1px 1px 10px rgb(228, 228, 228);
  border-radius: 5px;
  margin-top: 10px;
}

.box .level1 {
  /* border: 1px solid; */
  width: 99%;
  margin: auto;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box .level1 input {
  width: 32%;
  height: 60px;
  border: 1px solid rgb(180, 180, 180);
  outline: none;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
}

.box .level1 input:hover {
  border: 1px solid rgb(13, 138, 240);
}

.level1 input:focus {
  border: 2px solid rgb(13, 138, 240);
}

.box .level1 ::placeholder {
  font-size: 18px;
  color: rgb(180, 180, 180);
}

.box .level2 {
  /* border: 1px solid; */
  width: 99%;
  margin: auto;
  height: 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}
.box .level3 {
  /* border: 1px solid; */
  width: 99%;
  margin: auto;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
